*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.clear{
    clear: both;
}
/* HEADER */

.header{
    margin: auto;
    width: 80%;
}

.header a {
    text-decoration: none;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    width: 36px;
    height: 36px;
    color: black;
}

.header span{
    font-size: 36px;
    font-weight:bold;
    padding: 0 0 0 10px;

}
.header li{
    display: inline;
    margin: 15px;
    
    /* border: 1px solid red; */
}

.header ul{
    margin-top: 15px;
}

/* <!-- BANNER --> */

.banner {
    margin-top: 15px;
    background-image: url(../img/2.jpg);
    height: 700px;
    background-size: cover;
    position: relative;
}

.info{
    padding: 50px 0;
}

.info__item{
    margin: auto;
    width: 80%;
}
.info__img{
    width: 100%;
    border-radius: 50px;
}

.info__welcome, .info__img{
    float: left;
    width: 50%;
}

.info__welcome button{
    margin-top:30px;
    padding: 20px 30px;
    color: #002146;
    background-color:  #fdc800;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    
}

/* COUNTER */
.count {
    margin: auto;
    background-color: hsl(0deg 0% 96%);
    padding: 0 170px;
}
.counter__content{
    width: 75%;
    margin: 0 auto;
   
    
}

.counter__contentItem{
    float: left;
    width: 25%;
}
.counter__contentItem h2{
    float: left;
    margin: 0px;
    padding:  0 10px;
    font-size: 50px;
}
.counter__contentItem p{
    padding: 10px 0 0;
}

/* ACTIVITIES */
.activities{
    margin: auto;
    padding: 0 170px;
}

.activities__content{
    float: left;
    width: 25%;
    text-align: center;
    /* height: 150px; */
    font-size: 20px;
}

.activities__contentItem{
    
    background-color: #002147;
    color: white;
    margin: 10px 20px;
    padding: 50px 5px;
    width: 80%;
    height: 85%;
    border-radius: 10px;
    
    
}
.activities{
    margin-top: 50px;
}

.activities__content .activities__contentItem i{
    color: #fdc800;
    font-size: 40px;
}

/* EVENT */
.event {
    padding: 50px 0;
    background-color: #f6f6f6;
}

.event__content {
    margin: auto;
    width: 80%;
}


.event__img {
    float: left;
    width: 50%;
    margin: 0px 30px;
}

.event__img {
    width: 30%;

}

.event__img img {
    float: left;
    width: 100%;
    border-radius: 10px;
}

.event__text {
    float: left;
    width: 50%;

}

.event__text p {
    padding: 11px 0px 20px;

}

.event__item {
    padding: 30px 0;
    background-color: white;

}


.event__item2,
.event__item3 {
    background-color: white;

}

.event__item3 {
    padding: 30px 0px;
}


.event__background h2 {
    font-size: 30px;
    margin: 30px 10px;
}

.event__left,
.event__right {
    float: left;
    width: 50%;

}

.event__right .event__item {
    margin-top: 25px;
}

.event__button {
    text-align: right;
}

.event__button button {
    width: 120px;
    height: 50px;
    background-color: hsl(47deg 100% 50%);
    border: 0;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.event__card {
    width: 100%;
    text-align: center;
}

.event__cardtop {
    background-color: hsl(47deg 100% 50%);
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.event__cardbot {
    background-color: hsl(212deg 100% 14%);
    padding: 5px;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;


}

.event__cardtop p {
    font-size: 40px;
    font-weight: bold;
}

.event__cardtop span {
    font-size: 20px;
    font-weight: bold;
}

.event__item {
    width: 100%;
}

.event__calendar {
    float: left;
    width: 26%;
    padding: 0px 16px 33px 15px;
    background: white;
}

.event__text h3 {
    font-size: 25px;
}

.event__text p {
    color: #979797;
    font-size: 20px;
}

.event__text span {
    font-size: 18px;
}

.event__textright {
    /* padding: 22px; */
    width: 100%;
}

.event__textright h3 {
    font-size: 25px;
}

.event__textright p {
    padding: 10px;
    font-size: 10px 20px;

}

.event__textright span {
    color: #002147;
}

.event__background {
    padding: 0 35px;
}

/* CONTACT */
.contact{    
    padding: 0 150px;
    background-color: #002146;
    color: white;
    line-height: 50px;
    margin-left: 0 0 500px 0;
}

.contact .contactUS{
    float: left;
    width: 30%;
    padding: 50px 0px 0px 50px;
}



.contact .item{
    float: left;
    padding: 40px 20px;
    width: 30%;
    margin: 0px 20px;
    
}
.contact li{
    list-style: none;
}

.contactUS i{
    color: yellow;
}

.footer{
    text-align: center;
}